.navbar-container {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 10px;

  background: linear-gradient(#53616ea2, #53616e00);
}
.navbar-container > :not(.sign-in, #Aritzia_Logo) {
  margin-right: 4%;
}
.navbar-container div {
  padding: 7px 10px 0px;
  border-radius: 4px;

  position: relative;

  transition: all 0.3s ease;
}
.navbar-container div:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #384152;
}

#Aritzia_Logo {
  width: 10vw;
  height: auto;
  margin-right: auto;
}

.sign-in {
  margin-left: 31%;
  margin-right: 50px;
}
.gradient-overlay {
  background-color: #53616e;
  background: linear-gradient(#53616e00, #53616efc);
  z-index: 100;
  height: 15vh;
  margin-top: 75vh;
}
body {
  background-image: url(1921483.webp);
  background-size: cover;
  background-color: #53616e;
  background-repeat: no-repeat;
  background-position-y: -70px;
  margin: 0;
}
